.profile-thumbnail {
    position: absolute;

}

.profile-header{
    min-height: 260px;
    margin-left: 260px;
}

ul.posts {
    list-style-type: none;
    padding: 0;
    margin: 16px 0 0 0;
    border-top:1px solid #e0e0e0;

}

ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

ul.posts ul.post:hover {
    background-color: #f0f0f0;
}

div.post-date {
    float: right;
}

div.post-author {
    font-weight:bold;
    margin-left: 50px;
}

div.post-thumbnail {
    position: absolute;
}

div.post-body {
    margin-left: 58px;
    min-height: 48px;
}

ul.comments {
    list-style-type: none;
    padding: 0px;
    margin:160px 0 0 0 ;
    ;
}

ul.comments li.comments{
    margin-left:32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;

}

/*ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0
}*/

ul.comments li.comment:hover {
    background-color: #f0f0f0; 
}

div.comment-date {
    float: right;
}

div.comment-author {
    font-weight: bold;
    margin-left: 8px;
}

div.comment-thumbnail {
    position:absolute;

}

div.comment-content {
    margin-left: 108px;
    min-height: 108px;
    background-color: #CC8F4D;
    border-radius: 12px;
    padding: 10px;
}

div.comment-form {
    margin: 16px 0 16px 32px;
}
div.pagination {
    width: 100%;
    text-align:right;
}

li.comment {
    background-color: #E3EAD4;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}