<div class ="container">
<ul class="comments">
	{% for comment in comments recursive %}

	<li class="comment">
		<div class="comment-thumbnail">
			<a href="{{url_for('.user', username=comment.author.username)}}">
				<img class="img-rounded profile-thumbnail"  style="width: 40px; height: 40px" src="{{comment.author.gravatar()}}"></a>
		</div>
		<div class="comment-content">
			<div class="comment-date">{{moment(comment.timestamp).fromNow()}}</div>
			<div class="comment-author"><a href="{{url_for('.user', username=comment.author.username)}}">{{comment.author.username}}</a></div>
			<div class="comment-body">
				{% if comment.disabled %}
					<p><i> This comment has been disabled by moderator.</i></p>
				{% endif %}
				{% if moderate or not comment.disabled %}																	
					{% if comment.body_html %}
					{% if comment.parrent_id %}

						@{{comment.parrent.author.username }}
						{% endif %}
						{{comment.body_html | safe }}
					{% else %}
						{{comment.body}}
					{% endif %}
			</div>
			<div class="comment-footer">
				<a href="{{ url_for('.comment', id=comment.id) }}">
            		<span class = "label label-default">reply</span>
            	</a>
            </div>	
        </div>
			{% endif %}
			{% if comment.child %}
			{{Comment.get_children(comment.id)}}

						<ul class="nested">{{loop (comment.child)}}	</ul>

						{% endif %}						
				
			{% if moderate %}
				<br>
				{% if comment.disabled %}
				<a class="btn btn-default brn-xs" href="{{url_for('.moderate_enable', id=comment.id, page=page)}}">Enable</a>
				{% else %}
				<a class="btn btn-danger btn-xs" href="{{url_for('.moderate_disable', id=comment.id, page=page)}}">Disable</a>
				{% endif %}
			{% endif %}	

	</li>
	
	{% endfor %}
</ul>
</div>
