{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}
 <script src="http://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.0.1/ckeditor.js"></script>
<div class="main-content col-xs-12 col-md-5">

          <div class="row">

            <div class="col-xs-6 col-sm-5">

               <img src="{{picture}}" alt="..." class="img-rounded" style="height:250px; width:150px;">
            </div>
            <div class="col-xs-12 col-sm-6">
              <h1>{{ book_title }} <small>{{ book_autor }}</small></h1>
            </div>

        </div>

        <hr>

{% if current_user.can(Permission.FOLLOW) %}
    {% if not current_user.is_following(item, 'item') %}
        <a href="{{ url_for('.follow', type='naziv', name=book_title) }}" class="btn btn-primary">
            Follow {{ book_title }}</a>
    {% else %}
        <a href="{{ url_for('.unfollow', type='naziv', name=item.naziv) }}" class="btn btn-default">
            Unfollow</a>

    {% endif %}
    {% if not current_user.is_following(author, 'author') %}
        <a href="{{ url_for('.follow', type='author', name=book_autor) }}" class="btn btn-primary">
            Follow {{ book_autor }}</a>
    {% else %}
        <a href="{{ url_for('.unfollow', type='author', name=book_autor) }}" class="btn btn-default">
            Unfollow</a>

    {% endif %}
{% endif %}

{% for instance in source %}
     <div class="cene">
 <h4> <a href="{{ instance.website }}"> {{ instance.knjizara }} </a>: <small>{{ instance.cena }}</small></h4>
     </div>
{% endfor %}

{% include '_posts.html' %}

<br>
<div>{% if current_user.can(Permission.WRITE_ARTICLES)%}
     <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Napiši komentar/recenziju
</button>
<div class="collapse" id="collapseExample">
  <div class="well">


    <form class="form form-horizontal" method="post" role="form" data-provide="markdown">
  {{ post_form.hidden_tag() }}
  {{ wtf.form_errors(post_form, hiddens="only") }}


<label class="control-label" for="body">Whats on your mind</label>

{#          <div class="flask-pagedown"><textarea class="form-control flask-pagedown-input" id="flask-pagedown-body" data-provide="markdown" name="body" required></textarea></div>#}

  <textarea class="form-control"  id="editor1" name="body" required>&lt;p&gt;Initial value.&lt;/p&gt;</textarea>
			<script type="text/javascript">
				CKEDITOR.replace( 'body' );
			</script>


  {{ wtf.form_field(post_form.submit) }}
</form>

</div>
</div>
    {% endif %}
</div>

</div>
    <div class="side-content col-xs-12 col-md-4 ">
    <h3>Druge knjige autora {{ book_autor }}</h3>
    <hr><br>
    <div class="row">
{% for book in autor_books %}
    <div class="col-md-6">
<a href="{{url_for('.book_page', book_id=book.id)}}"><img src="{{ book.cene.first().slika }}" style="width:140px; height:200px;padding-bottom: 10px;"></a>
   </div>
{% endfor %}
    </div>
    </div>

{% endblock %}